  <!--<mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>-->
  <svg class="svg-icon search-icon" aria-labelledby="title desc" width="16" height="16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7">
    <title id="title">Search Icon</title><desc id="desc">A magnifying glass icon.</desc>
    <g class="search-path" fill="none" stroke="#848F91"><path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/><circle cx="8" cy="8" r="7"/></g>
  </svg>
  <input class="form-control form-control-sm ml-3 w-75" id="search-field" type="text" placeholder="Search" aria-label="Search" [ngModel]="searchName" (change)="refreshEmpList(this)">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
    Add new employee
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="ActivateAddEmp">
          CNP: <input type="text" [(ngModel)]="cnpToInsert"><br>
          Prenume: <input type="text" [(ngModel)]="firstNameToInsert"><br>
          Nume: <input type="text" [(ngModel)]="lastNameToInsert"><br>
          Numar Legitimatie: <input type="text" [(ngModel)]="nrLegitimatieToInsert"><br>
          Ora Intrare (xx:xx): <input type="text" [(ngModel)]="inHourToInsert"><br>
          Ora Iesire (xx:xx): <input type="text" [(ngModel)]="outHourToInsert"><br>
          Cod Securitate: <input type="text" [(ngModel)]="securityCodeToInsert"><br>
          Cod Inregistrare: <input type="text" [(ngModel)]="registerCpdeToInsert"><br>
          <button (click)="createEmployee()">Creare Angajat</button>
        </div>
      </div>
    </div>
  </div>


<table class="table table-striped">
    <thead>
        <tr>
          Angajati
        </tr>
    </thead>
    <tbody>
      <div  *ngFor="let dataItem of EmployeeList; let i= index">
        <tr>
          <a [routerLink]="['/details', dataItem.Id]">
            <td>{{dataItem.Nume}}</td>
            <td>{{dataItem.Prenume}}</td>
            </a>
            <td>
                <button class="btn btn-light mr-1"
                (click)="deleteClick(dataItem)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
                </button>
                <button class="bi bi-chevron-compact-down"
                (click)="dropDown(i)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                </svg>
                </button>
            </td>
        </tr>
        <tr *ngIf="dropdown[i]">
          Numar Legitimatie: {{employeeDetails[i].NrLegitimatie}}
          <br>
          CNP: {{employeeDetails[i].CNP}}
          <br>
          Ora Intrare: {{employeeDetails[i].OraIntrare}}
          <br>
          Ora Iesire: {{employeeDetails[i].OraIesire}}
          <br>
          Numar Masini: {{employeeDetails[i].CarNumber}}
          <br>
          Privilegii Admin: {{employeeDetails[i].Admin}}
          <br>
        </tr>
      </div>
    </tbody>
</table>